# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
.eggs/
dist/
build/
*.db

# Alembic
alembic/versions/__pycache__/

# Env files
.env

# Node
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db
